<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>API Dashboard</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet"> -->
</head>
<body>
    <div class="container mt-5">
        <h1>API Dashboard</h1>
        <ul>
            <li><a href="/geometric-analysis">Geometric Analysis</a></li>
            <li><a href="/main-stats">Main Stats</a></li>
            <li><a href="/runtime-analysis">Runtime Analysis</a></li>
            <li><a href="/statistical-analysis">Statistical Analysis</a></li>
        </ul>
    </div>
</body>
</html>
